.welcome {
  height: 100vh;
  background-color: aqua;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 40px;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
  }
}
